<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <div id="Page">
            <header>
                <div class="pageContent">
                    <hgroup>
                        <h1><a href="@Url.Action("Index", "Blog")">Blog</a></h1>
                    </hgroup>

                    <form action="@Url.Action("Index", "Blog")" method="GET">
                        <input name="Search" value="@Request.QueryString["Search"]" type="search" placeholder="(search the blog)" />
                    </form>
                </div>
            </header>
            
            <div id="Main">
                <div class="pageContent">
                    
                    @RenderBody()

                </div>
            </div>

            <footer>
                <div class="pageContent">
                    Blog by <a href="http://antix.co.uk">antix.co.uk</a>
                </div>
            </footer>
        </div>
    </body>
</html>