@model Example.MvcApplication.Models.BlogIndexModel

@{
    ViewBag.Title = "Blog";
}

@foreach (var entry in Model.BlogEntries)
{
    <article>
        <header>
            <h3><a href="@Url.Action("Read", new {id = entry.Identifier})">@entry.Title</a></h3>
            <h5><time pubdate datetime="@entry.PublishedOn.Rfc">@entry.PublishedOn.Display</time></h5>
        </header>
        @Html.Raw(entry.Summary)
    </article>
}
